*{
    margin: 0;
    padding:0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body,html{
    width:100%;
    height:100%;
}
nav{
   width:100%;
   height:80px;
   background-color: rgb(57, 113, 241);
}
.logo{
    font-size:30px;
    color:whitesmoke;
    margin-left: 100px;
    line-height: 80px;
}

nav ul{
    float:right;
    /* this will remove the bullets of the li items */
    list-style-type: none;
}

nav ul li{
    /* this will move element in one line */
     display: inline-block;
     line-height: 80px;
    
}

  nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding:8px 20px;
    background-color: brown;
}
nav ul li a.active,a:hover{
 background-color: rgb(38, 76, 76);
}

 
#checkbtn{
    float:right;
    line-height:80px ;
    font-size: 25px;
    color: white;
    display:none;
}
#check{
    display:none;
} 

#check:checked~ul{
    left:0;
}

@media(max-width:654px){
    #checkbtn{
        display:block;
    }

    nav ul{
        width:100%;
        height:100vh;
        background-color: burlywood;
        position:fixed;
        top:80px;
        left:-100%;
        transition: 0.5s;
    }

    nav ul li{
        display:block;
        text-align: center;
       
    }
}


